@import url("../vendor/fonts/fonts.css");
@import url("../vendor/normalize.css");
@import url("../blocks/lead.css");
@import url("../blocks/intro.css");
@import url("../blocks/photo-grid.css");

.page {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  margin: 0;
  background-color: #2a2c2f;
  color: white;
  width: 100%;
  height: 100vh;
}

.page-container {
  max-width: 1184px;
  margin: 0 auto;
  box-sizing: border-box;
}

.place {
  max-width: 987px;
  margin: 92px auto 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

.place__item {
  display: grid;
  grid-template-columns: minmax(340px, 1fr) 1fr;
  grid-template-rows: repeat(2, auto) 1fr;
  grid-template-areas:
    "title artist"
    "image text"
    "button text";
  column-gap: 40px;
  row-gap: 48px;
}

.place__title {
  box-sizing: border-box;
  grid-area: title;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  padding-right: 5%;
}

.place__artist {
  display: flex;
  flex-direction: column;
  grid-area: artist;
  margin: 0;
  justify-content: end;
}

.place__artist-title {
  font-size: 12px;
  line-height: 122%;
  color: #aaaaaa;
  letter-spacing: 0.12em;
  margin: 0 0 8px 0;
}

.place__artist-name {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.place__description {
  grid-area: text;
  font-size: 18px;
  line-height: 29px;
  margin: 0;
}

.place__paragraph {
  margin: 0 0 25px 0;
}
.place__paragraph:nth-of-type(2n) {
  margin: 0;
}

.place__button {
  grid-area: button;
  background: #0278fe;
  border-radius: 4px;
  color: white;
  padding: 13px 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  text-align: center;
  max-height: 22px;
  max-width: 248px;
}
